{% extends "notes/header.html" %}

{% block content %}

{% load staticfiles %}

    {% include "includes/navbar.html" %}
    {% include "profiles/login.html" %}
    {% include "profiles/register.html" %}

    <!-- <h1>{{page_title}}</h1> -->

    <div class="container">
        <div id="products" class="row view-group">

            {% for note in notes %}
            
            <div class="item col-xs-4 col-lg-4">
                <div class="thumbnail card">
                    <div class="img-event">
                        <img class="group list-group-image img-fluid" src="{{note.image.url}}" alt="" />
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            <!-- Here the note title is being replaced by the jinja template -->
                            {{note.title}}</h4>
                        <p class="group inner list-group-item-text">
                            {{note.content}}</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success" href="{% url 'editNote' note.id %}">Edit</a>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-danger" href="{% url 'deleteNote' note.id %}">Delete</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>



{% endblock %}